body
{
	font-size: 16px;
}

body
{
	margin-right: 20%
}

body
{
	margin-left: 20%
}
	
body
{
	line-height: 1.6
}

body
{
	background-color: #EEEEEE
}
body
{
	color: #444
}
body
{
	font-family: verdana
}
body
{
	text-align: justify;
}
.mfwebsite
{
	color: maroon
}
.wrong
{
	color: maroon
}
.wrong
{
	text-decoration: underline;
}
.sblue
{
	color: blue
}
.violetish
{
	color: purple
}
.todo
{
	font-family: courier new;
}
.flottant
{
	float: left;
}